/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-image: url("../images/cover-image-light.png");
  --title-color: #ffc2e6;
  --accent-color: #ff007066;
  --text-color: #000028;
  --dark-color: #353430;
  --header-color: #353430;
  --button-color: var(--dark-color);
  --decoration-color: var(--dark-color);
  --background-color: var(--accent-color);
}

@media (prefers-color-scheme: light) {

  .page {
    --background-image: url("../images/cover-image-light.png");
    --title-color: #ffc2e6;
    --accent-color: #ff007066;
    --text-color: #000028;
    --dark-color: #353430;
    --header-color: #353430;
    --button-color: var(--dark-color);
    --decoration-color: var(--dark-color);
    --background-color: var(--accent-color);
  }

  .rec-icon {
    display: none;
  }
}