.page {
  color: var(--dark-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-normal);
  background-color: var(--dark-color);
  background-image: var(--background-image, url("../images/cover-image.png"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  place-items: center end;
  height: 100vh;
  min-height: 668px;
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  display: block;
  content: "";
  position: absolute;
  /* inline-size: 25px;
  block-size: 25px; */
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--decoration-color);
  border-block-start: 1px solid var(--decoration-color);
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--decoration-color);
  border-block-end: 1px solid var(--decoration-color);
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
}

.rec-icon {
  display: block;
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color);
  top: 12px;
  right: 38px;
}

.rec-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 41px;
  top: 5px;
  width: 9px;
  height: 9px;
  background: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--underline-color);
  border-radius: 50%;
}

/* .rec-icon::before {
  content: "";
  position: absolute;
  line-height: 26px;
} */

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: end;
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-size: var(--font-size);
  font-weight: var(--font-normal);
  line-height: 100%;
  min-inline-size: 4.375rem;
  padding: 2px 13px 4px;
  appearance: none;
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--button-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  text-decoration: none;
  border-bottom: 1px solid;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid;
}

.header__title {
  line-height: 82.5%;
  font-weight: var(--font-bold);
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__subtitle {
  max-width: 491px;
  justify-self: end;
  line-height: 130%;
  font-size: var(--font-size);
  font-weight: var(--font-bold);
  color: var(--dark-color);
}

.background-text {
  background-color: var(--background-color);
}

.main {
  display: grid;
  padding: 40px 10px 0;
  background-color: transparent;
}

.content__section {
  margin-bottom: 50px;
}

.content__title {
  line-height: 130%;
  font-size: inherit;
  color: var(--header-color);
  margin-bottom: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.article__section {
  display: grid;
  gap: 20px;
}

.article__title {
  font-weight: var(--font-normal);
  line-height: 130%;
  font-size: var(--font-size);
  background-color: var(--accent-color);
  color: var(--dark-color);
}

.text_bold {
  font-size: var(--font-size);
  color: var(--dark-color);
  background-color: var(--accent-color);
}

.article__text {
  line-height: 23.4px;
  font-size: var(--font-size);
}

.block-content {
  font-weight: var(--font-bold);
}

.article__par {
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--text-color);
}

.section__focus {
  font-size: var(--font-size);
  line-height: 130%;
  font-weight: var(--font-weight-normal);
}

.link__decor {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link__decor:focus {
  text-decoration: none;
}

.link__decor:focus-visible {
  outline: 1px solid var(--accent-color);
}

.link__decor:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

.par {
  margin-top: 10px;
}

.media-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.media-card__title {
  display: block;
  line-height: 23.4px;
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--accent-color);
  color: var(--dark-color);
}

.media-card__gallery {
  display: grid;
  gap: 10px;
}

.media-card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer__title {
  /* justify-self: center;
  align-self: center; */
  color: var(--title-color);
  line-height: 1.1;
  font-weight: var(--font-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0px var(--accent-color);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  block-size: 100dvb;
  min-block-size: 668px;
  margin-block-start: 35px;
}

/* -----------media--------- */

@media (width >= 768px) {
  .header {
    place-items: center stretch;
  }

  .rec-icon {
    top: 22px;
    right: 48px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -2%;
  }

  .header__subtitle {
    max-width: 364px;
  }

  .main {
    margin-block: 60px;
    padding-inline: 20px;
    row-gap: 80px;
  }

  .content__section {
    margin-bottom: 0;
  }

  .block-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content__focus {
    display: grid;
    grid-template-columns: 1fr;
  }

  .content__section--focus {
    max-width: 236px;
  }

  .section--attention {
    display: grid;
    margin-block-start: -40px;
    grid-template-columns: minmax(236px, 315px) minmax(472px, 649px);
    gap: 20px;
  }

  .media-card__gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, 192px) minmax(auto, 230px) minmax(
        auto,
        325px
      );
  }

  .media-card__image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 10px;
  }

  .media-card__image:first-of-type,
  .media-card__image:nth-of-type(5) {
    grid-column: span 2;
  }

  .media-card__image:nth-of-type(2),
  .media-card__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .footer {
    margin-block-start: 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    place-self: start stretch;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header__title {
    text-shadow: 4px 4px 0 var(--text-shadow);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    max-width: 491px;
  }

  .content__section--focus {
    grid-column: 1 / -1;
  }

  .article__section {
    /* display: grid; */
    margin-left: -5px;
  }

  .section__focus {
    display: grid;
    margin-left: 0px;
    grid-template-columns: repeat(3, 1fr);
  }

  .article {
    display: block;
  }

  .content__title {
    max-width: 314px;
  }

  .section--attention:first-child {
    grid-template-columns: 320px 1fr;
    row-gap: 20px;
  }

  .footer__title {
    text-shadow: 4px 4px 0 var(--text-shadow);
    font-size: clamp(7.5rem, 5.2934rem + 9.4148vw, 9.8125rem);
  }

  .article__text {
    margin-top: 10px;
  }

  .section--attention {
    display: grid;
    margin-block-start: -40px;
    grid-template-columns: minmax(236px, 315px) minmax(472px, 649px);
    gap: 20px;
  }

  .media-card__gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, 260px) minmax(auto, 315px) minmax(
        auto,
        435px
      );
  }
}
