
 :root {
  --title-color: #DB00FF;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --dark-color: #000028;
  --button-color: var(--accent-color);
  --decoration-color: var(--accent-color);
  --header-color: var(--accent-color);
  --background-color: var(--accent-color);
  --background-image: url(../images/cover-image-dark.png);

  --font-family: "IBM Plex Mono", sans-serif;
  --font-size: 18px;
  --font-bold: 700;
  --font-normal: 400;
}